<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio JfDevFromParis</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"/>
    <link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/styles.css"/>
    <link rel="shortcut icon" href="./assets/images/avatar.ico"/>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app color="white" height="100">
          <v-avatar class="mr-3" color="grey lighten-5" size="210">
            <v-img contain max-width="90%" src="./assets/images/logo.png"></v-img>
          </v-avatar>

          <v-toolbar-title class="font-weight-black headline">
            Developpeur Back-end Symfony
          </v-toolbar-title>
        </v-app-bar>

        <v-main>
          <section id="hero">
            <v-row no-gutters>
              <v-img :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" src="./assets/images/computer.jfif">
                <v-theme-provider dark>
                  <v-container fill-height>
                    <v-row align="center" class="white--text mx-auto" justify="center">
                      <v-col class="white--text text-center" cols="12" tag="h1">
                        <span :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']" class="font-weight-light">
                          Bonjour !
                        </span>

                        <br/>

                        <span :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-3']" class="font-weight-black">
                          Je suis Jean-François LEPANTE<br/> Prêt à coder pour vous
                        </span>
                      </v-col>

                      <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
                        <v-icon>mdi-chevron-double-down</v-icon>
                      </v-btn>
                    </v-row>
                  </v-container>
                </v-theme-provider>
              </v-img>
            </v-row>
          </section>

          <section id="about-me">
            <div class="py-12"></div>

            <v-container class="text-center">
              <h2 class="display-2 font-weight-bold mb-3">A propos de moi</h2>

              <v-responsive class="mx-auto mb-8" width="56">
                <v-divider class="mb-1"></v-divider>

                <v-divider></v-divider>
              </v-responsive>

              <v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
                Je suis développeur Back-end Symfony. Toujours motivé pour développer constamment mes compétences au service de vos projets et vos ambitions. Actuellement actif sur un projet de super-App autour de la "propre-tech" sur une stack
                <br/>
                <img src="./assets/images/twig.png" alt="twig" width="36"/>
                -
                <v-icon large>mdi-symfony</v-icon>
                -
                <v-icon large>mdi-language-php</v-icon>
                -
                <v-icon large>mdi-jquery</v-icon>
                -
                <v-icon large>mdi-webpack</v-icon>
                -
                <img src="./assets/images/postGreSQL.svg" alt="postGreSQL" class="theme--light v-icon" width="45"/>
                -
                <v-icon large>mdi-sass</v-icon>
                -
                <v-icon large>mdi-docker</v-icon><br/>
                J'ai réalisé la feature d'inscription et de login sur la super-app Homypay.
              </v-responsive>

              <v-avatar class="elevation-12 mb-12" size="128">
                <v-img src="./assets/images/photo.jpg"></v-img>
              </v-avatar>

              <div></div>
              <v-dialog v-model="dialog" width="500">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn text color="red lighten-2" dark v-bind="attrs" v-on="on">
                    Visualisez mon cv
                  </v-btn>
                </template>

                <v-card>
                  <iframe src="./assets/documents/VJFSymfony.pdf" width="100%" height="500px"></iframe>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red lighten-2" text @click="dialog = false">
                      Fermez
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-container>

            <div class="py-12"></div>
          </section>

          <section id="features" class="grey lighten-5">
            <div class="py-12"></div>


            <v-container class="text-center">
              <h2 class="display-2 font-weight-bold mb-3">Stack Technique</h2>

              <v-responsive class="mx-auto mb-12" width="56">
                <v-divider class="mb-1"></v-divider>

                <v-divider></v-divider>
              </v-responsive>

              <v-row>
                <v-col v-for="({icon, title, firstIcon, secondIcon, thirdIcon, fourthIcon, fifthIcon,sixthIcon,firstValue, secondValue, thirdValue, fourthValue, fifthValue, sixthValue, fourthSize, fithSize,sixthSize}, i) in features" :key="i" cols="12" md="4">
                  <v-card class="py-12 px-4" color="grey lighten-3" style="width:370px" flat>
                    <v-theme-provider dark>
                      <div>
                        <v-avatar color="primary" size="88">
                          <v-icon large v-text="icon"></v-icon>
                        </v-avatar>
                      </div>
                    </v-theme-provider>

                    <v-card-title class="justify-center font-weight-black text-uppercase" v-text="title"></v-card-title>
                    <v-row class="justify-center">
                      <v-progress-circular class="shadow-html" :rotate="-180" :size="70" :width="5" :value="firstValue" color="white">
                        <v-icon large v-text="firstIcon"></v-icon>
                      </v-progress-circular>

                      <v-progress-circular class="shadow-css" :rotate="-180" :size="70" :width="5" :value="secondValue" color="white">
                        <v-icon large v-text="secondIcon"></v-icon>
                      </v-progress-circular>

                      <v-progress-circular class="shadow-js" :rotate="-180" :size="70" :width="5" :value="thirdValue" color="white">
                        <v-icon large v-if="thirdIcon  != `figma`" v-text="thirdIcon"></v-icon>
                        <img v-if="thirdIcon == `figma`" src="./assets/images/figma-brands.svg" alt="figma-brands" class="figma" width="20"/>
                      </v-progress-circular>
                    </v-row>
                    <v-row class="justify-center">
                      <v-progress-circular class="shadow-scss" :rotate="-180" :size="fourthSize" :width="5" :value="fourthValue" color="white">
                        <v-icon v-if="fourthIcon != `MySQL`" large v-text="fourthIcon"></v-icon>
                        <img v-if="fourthIcon == `MySQL`" src="./assets/images/MySQL.svg" alt="MySQL" class="figma" width="58"/>
                      </v-progress-circular>

                      <v-progress-circular class="shadow-twig" :rotate="-180" :size="fithSize" :width="5" :value="fifthValue" color="white">
                        <v-icon v-if="fifthIcon != `PostGreSQL`" large v-text="fifthIcon"></v-icon>
                        <img v-if="fifthIcon == `PostGreSQL`" src="./assets/images/postGreSQL.svg" alt="postGreSQL" class="figma" width="45"/>
                      </v-progress-circular>

                      <v-progress-circular class="shadow-jquery" :rotate="-180" :size="sixthSize" :width="5" :value="sixthValue" color="white">
                        <v-icon v-if="sixthIcon != `twig`" large v-text="sixthIcon"></v-icon>
                        <img v-if="sixthIcon == `twig`" src="./assets/images/twig.png" alt="twig" width="36"/>
                      </v-progress-circular>
                    </v-row>

                  </v-card>
                </v-col>
              </v-row>
            </v-container>

          <div class="py-12"></div>
        </section>
        <section id="project" class="grey lighten-4">
          <div class="py-12"></div>

          <v-container>
            <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">
              Mes réalisations
            </h2>

            <v-responsive class="mx-auto mb-12" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>
            <v-row>
              <v-col v-for="({ src, title, description, status, icon, environment,github}, i) in projects" :key="i" cols="12" md="4">
                <v-card width="370" height="450" relative>
                  <v-img :src="src" class="align-end mb-1" height="200" max-width="100%">
                    <v-card-title class="black--text text-h4 font-weight-bold" v-text="title"></v-card-title>
                  </v-img>

                  <v-card-text class="text--primary">
                    <v-row style="min-height:60px">
                      <v-col cols="1">
                        <v-icon class="d-block">mdi-layers-triple-outline</v-icon>
                      </v-col>
                      <v-col cols="11">
                        <div class="body-1 font-weight-light" v-text="description"></div>
                      </v-col>
                    </v-row>
                    <v-row style="min-height:60px">
                      <v-col cols="1">
                        <v-icon class="d-block">mdi-cube-outline</v-icon>
                      </v-col>
                      <v-col cols="11">
                        <div class="body-2 font-weight-light" v-text="environment"></div>
                      </v-col>
                    </v-row>
                    <v-row style="min-height:60px">
                      <v-col cols="1">
                        <v-icon class="d-block">mdi-git</v-icon>
                      </v-col>
                                            <v-col cols="11">
                        <a :href="github" class="truncate-ellipsis" target="_blank"><span class="d-inline-block text-truncate" v-text="github" style="max-widht:350px;"></span></a>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-card-actions align-end>
                    <v-btn class="font-weight-black me-16" color="orange" text>
                      voir
                    </v-btn>
                    <span class="ms-10" v-text="status"></span>
                  </v-card-actions>

                </v-card>

              </v-col>
            </v-row>
          </v-container>
          </v-container>

          <div class="py-12"></div>
        </section>
        <section id="contact" class="grey lighten-3">

          <div class="py-12"></div>
          <v-container>
            <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">
              Contactez moi
            </h2>

            <v-responsive class="mx-auto mb-12" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>
            <v-row>
              <v-card
                class="ma-auto" widht="370px">
                <v-img src="./assets/images/calendly.png"></v-img>
                <!-- Calendly inline widget begin -->
                <v-card-actions>

                  <v-dialog v-model="dialog1" width="500">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="red lighten-2" dark v-bind="attrs" v-on="on" onclick="Calendly.showPopupWidget('https://calendly.com/jeanfrancoislepante/60min?hide_event_type_details=1');return false;">
                       <v-icon>mdi-calendar-check-outline</v-icon>&nbsp;Prenez rendez-vous
                      </v-btn>
                    </template>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-row>

          </v-container>

        </section>

      </body>
    </html>
  </body>
</html></v-main><v-footer class="justify-center" color="#292929" height="100">
<div class="title font-weight-light grey--text text--lighten-1 text-center">
  &copy;
  {{ (new Date()).getFullYear() }}
  — Made with 💜 by
  JfDevFromParis
</div></v-footer></v-app></div><script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script><script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script><script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script><script type="module">new Vue({
    el: "#app",
    vuetify: new Vuetify(),
    data() {
      return {
        interval: {},
        value: 0,
        src: "https://via.placeholder.com/275x275",
        dialog: false,
        dialog1: false,
        features: [
          {
            icon: "mdi-monitor-screenshot",
            title: "Front-End",
            firstIcon: "mdi-language-html5",
            secondIcon: "mdi-language-css3",
            thirdIcon: "mdi-language-javascript",
            fourthIcon: "mdi-vuejs",
            fifthIcon: "mdi-jquery",
            sixthIcon: "twig",
            firstValue: 75,
            secondValue: 75,
            thirdValue: 60,
            fourthValue: 35,
            fifthValue: 60,
            sixthValue: 85,
            fourthSize: 70,
            fithSize: 70,
            sixthSize: 70
          }, {
            icon: "mdi-hammer-wrench",
            title: "Outils ",
            firstIcon: "mdi-git",
            secondIcon: "mdi-gitlab",
            thirdIcon: "figma",
            fourthIcon: "mdi-trello",
            fifthIcon: "",
            sixthIcon: "",
            firstValue: 45,
            secondValue: 45,
            thirdValue: 60,
            fourthValue: 55,
            fifthValue: 50,
            sixthValue: 45,
            fourthSize: 70,
            fithSize: 0,
            sixthSize: 0
          }, {
            icon: "mdi-server",
            title: "Back-end",
            firstIcon: "mdi-language-php",
            secondIcon: "mdi-symfony",
            thirdIcon: "mdi-webpack",
            fourthIcon: "MySQL",
            fifthIcon: "PostGreSQL",
            sixthIcon: "",
            firstValue: 80,
            secondValue: 60,
            thirdValue: 40,
            fourthValue: 40,
            fifthValue: 53,
            sixthValue: 0,
            fourthSize: 70,
            fithSize: 70,
            sixthSize: 0
          },
        ],
        stats: [
          [
            "24k", "Github Stars"
          ],
          [
            "330+", "Releases"
          ],
          [
            "1m", "Downloads/mo"
          ],
          [
            "5m", "Total Downloads"
          ]
        ],
        projects: [
          {
            src: 'https://via.placeholder.com/371x150',
            title: 'Homypay',
            subtitle: "App de services bancaire et de maison pour le foyer*",
            description: `Symfony-5, scss, atomic-design, twig, javascript, PostgreSQL`,
            environment: `Environnement : Docker Composer Webpack Nginx`,
            github: "https://github.com/jean-francoisfromparis/swap",
            status: 'En développement',
            icon: 'mdi-Tailwind'
          },
          {
            src: './assets/images/pizza-mama-vuejs.png',
            title: 'PizzaMama.it',
            subtitle: "App borne de commande et mobile pour restaurant*",
            description: 'Vuejs, Api platform, Symfony-5, scss, javascript, MySQL',
            environment: `Environnement :  Apache webpack`,
            github: "https://github.com/jean-francoisfromparis/pizza-mama-vuejs",
            status: 'En développement',
            icon: 'mdi-Tailwind'
          },
          {
            src: './assets/images/borne-pizza-mama.png',
            title: 'PizzaMama.it',
            subtitle: "App borne de commande et mobile pour restaurant*",
            description: ' Symfony-5, scss, twig, javascript, MySQL',
            environment: `Environnement :  Apache webpack`,
            github: "https://github.com/jean-francoisfromparis/pizza-mama",
            status: 'En ligne',
            icon: 'mdi-Tailwind'
          },
          {
            src: './assets/images/swap.png',
            title: 'Swap',
            subtitle: "Site d'annonce dynamique*",
            description: 'PHP 7, css, twig et javascript',
            environment: `Environnement :  Apache webpack`,
            github: "https://github.com/jean-francoisfromparis/swap",
            status: 'En ligne',
            icon: 'mdi-Tailwind'
          }, {
            src: './assets/images/hotel_chambord.png',
            title: 'Hotel-Chambord',
            subtitle: 'Site statique pour un Hôtel Palace*',
            description: 'HTML, CSS et javascript',
            environment: `Environnement : Webpack`,
            github: "https://github.com/jean-francoisfromparis/projethotelchambord",
            status: 'En ligne',
            icon: 'mdi-Tailwind'
          },
        ]
      };

    }
  });</script>
